// -----------------------------------------------------------------------------
// Navbar and mobile menu styles
// -----------------------------------------------------------------------------

.navbar {
  background-color: $bg-black;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  @include breakpoint(sm) {
  padding: 0 1.5rem;
  }

  &__container {
    width: 100%;
    max-width: $breakpoint-xxl;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a, a:active, a:visited {
    color: #f3eded;
    font-size: 1rem;
    font-weight: 500;
    padding: .2rem .3rem;
  }
}