// -----------------------------------------------------------------------------
// Navbar and mobile menu styles
// -----------------------------------------------------------------------------

.navbar {
  background-color: $bg-black;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  @include breakpoint(sm) {
  padding: 0 1.5rem;
  }

  &__container {
    width: 100%;
    max-width: $breakpoint-xxl;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a, a:active, a:visited {
    color: $txt-white;
    font-size: 0.9rem;
    font-weight: 500;
    padding: .2rem .3rem;

    @include breakpoint(sm) {
      font-size: 1rem;
    }
  }

  img {
    min-width: 40px;
  }
}

// Refactor
li {
  list-style: none;
  display: inline;
  padding: 0 0.5rem 0 1rem;
}
