// -----------------------------------------------------------------------------
// Navbar and mobile menu styles
// -----------------------------------------------------------------------------

.navbar {
  background-color: #070707;
  height: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem 0 1.4rem;

  a, a:active, a:visited {
    color: #f3eded;
    font-size: 1rem;
    font-weight: 500;
    padding: .2rem .3rem;
  }
}