// -----------------------------------------------------------------------------
// Companies
// -----------------------------------------------------------------------------
.hero--companies {
    background-color: $pastel-blue;

    .hero__h1 {
        max-width: 560px;
    }
}

.companies {
    &__apply-dates {
    margin-bottom: 2rem;
    }
}
