.mdx {
  position: relative;

  img {
    max-width: 100%;
  }
  
  .switch_chapter {
    text-align: center;
    a {
      color: red;
      padding: 20px;
    }
  }
}

.guides {
  .navbar {
    ul {
      display: inline;
    }
  }

  &__content {
    display: grid;
    --padding: 1rem;
    grid-template-columns: [full-start] minmax(var(--padding), 1fr) [contain-start] minmax(0, $breakpoint-md) [contain-end] minmax(var(--padding), 1fr) [full-end];
    padding: 2rem 0 6rem;

    p {
      font-size: 1.063rem;
    }

    @include breakpoint(sm) {
      --padding: 3rem;
      padding-top: 6rem;
    }

    @include breakpoint(md) {
      --padding: 4rem;
    }

    @include breakpoint(lg) {
      --padding: 2rem;
    }
    
    > * {
      grid-column: contain;
    }
  }
}
