// -----------------------------------------------------------------------------
// Companies
// -----------------------------------------------------------------------------
.hero--companies {
    background-color: whitesmoke;
  }
  
  .companies {
    &__apply-dates {
      margin-bottom: 2rem;
    }
  }
  
  // -----------------------------------------------------------------------------
  // General template for cards
  // -----------------------------------------------------------------------------
  
  .virtual-card {
    border-radius: $border-radius;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: $pastel-purple
  
    &--purple {
      background-color: $pastel-purple;
    }
  
    &--blue {
      background-color: $pastel-blue;
    }
  
    &--cyan-light{
      background-color: $cyan-light;
    }
  
    &--cyan{
        background-color: $cyan;
    }
  
    &--orange{
      background-color: $pastel-orange;
    }
  }
  
  // -----------------------------------------------------------------------------
  // What WIMMA Lab is
  // -----------------------------------------------------------------------------
  
  .what {
    li {
      padding: 0.3rem;
      margin: 0.3rem;
      justify-content: left;
      line-height: 1.6;
    }
  }
  
  // -----------------------------------------------------------------------------
  // How to participate
  // -----------------------------------------------------------------------------
  
  .participate {
    h2 {
      text-align: center;
    }
    .general {
      font-size: 1.2rem;
    }
    Image {
      size: 20%;
    }
  }
  
  // -----------------------------------------------------------------------------
  // Experiences working with WIMMA Labs
  // -----------------------------------------------------------------------------
  
  .experience {
    h2 {
      text-align: center;
    }
  
  }
  
  // -----------------------------------------------------------------------------
  // How to contact us
  // -----------------------------------------------------------------------------
  
  .contactInfo {
    p,
    a {
      font-weight: bolder;
      color: black;
    }
  }
  