.simple-grid {
  display: grid;
  gap: 2rem;

  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr;
    place-content: end;
    gap: 3rem;
  }

  h2 {
    margin-top: -0.25rem;
  }
}

.margin-b {
  margin-bottom: 4rem;

  @include breakpoint(lg) {
    margin-bottom: 6rem;
  }
}

.margin-t {
  margin-top: 1.5rem;
}

.p-narrow {
  max-width: $breakpoint-xs;
}

// object fades in on load
.fade-in {
  opacity: 0;
  transition: opacity 0.1s ease;

  &.loaded {
    opacity: 1;
  }
}