// -----------------------------------------------------------------------------
// Application-wide variables
// -----------------------------------------------------------------------------

$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 940px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1200px;

$border-radius: 5px;
$txt-black: #2d3748;
$txt-grey: #60656e;
$txt-white: #fbfbfb;

$nav-hover: #262c2f;
$nav-hl: #454b4e;

$bg-black: #020405;

$cyan: #5ED9C3;
$cyan-light: #C8F9E7;
$cyan-dark: #15B7A8;