// -----------------------------------------------------------------------------
// Button component
// -----------------------------------------------------------------------------

.btn {
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.063rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  border-radius: $border-radius;
  white-space: nowrap;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;

  &--primary {
    color: $txt-white;
    background-color: $bg-black;

    &:visited {
      color: $txt-white;
    }
    
    &:hover, &:focus {
      color: $txt-white;
    }

    &:focus {
      box-shadow: 0 0 0 1px $cyan;
    }

    .icon-arrow {
      margin: 0 -0.1rem -0.1rem 0.75rem;
      width: 27px;
      height: 15px;
    }
  }

  &--secondary {
    color: $link-color;
    padding: 0.2rem 0;

    &:visited {
      color: $link-color;
    }
    
    &:hover, &:focus {
      color: $link-hover;
    }

    .icon-arrow {
      position: relative;
      left: 0.75rem;
      bottom: -0.1rem;
      width: 27px;
      height: 15px;
      transition: all 0.15s ease-in-out;
    }

    &:hover {
      .icon-arrow {
        left: 1.2rem;
      }
    }
  }
}