// -----------------------------------------------------------------------------
// Application-wide base styles
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

figure {
  margin: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

dl {
  margin: 1.75rem 0;
}

dt {
  margin-bottom: 0.5rem;
}

dd {
  display: none;
}

small {
  display: inline-block;
  font-size: 0.9rem;
  color: $txt-lightgrey;
  line-height: 1.55;
}